# LOOPS

- A loop is a programming structure that executes the same code over and over again, as long as certain condition is met.

# WHILE LOOP

- A while loop executes the code in its block while a condition is met.

In [17]:
number = 1
while number < 10 :
    number += 1
    print (number)

2
3
4
5
6
7
8
9
10

# FOR LOOP
- The For Loop works differently. Here we do not have a condition. This loop type is used to iterate over sequences.

In [22]:
numbers =  [ 10, 20, 30, 40 ]
for number in numbers :
    print (number)

10
20
30
40

In [24]:
numbers = [ 10, 20, 30, 40 ]
for x in numbers :
    print (x)

10
20
30
40

In [26]:
trainers = ["Sam", "Pam", "Lam", "Tam"]
for trainer in trainers :
    print (trainer)

Sam
Pam
Lam
Tam

# RANGE FUNCTION
- With the Range function, we can create lists that contain all numbers in between two numbers.
- There are 3 arguments in Range function, START, STOP, and STEP.

In [31]:
for x in range ( 5 ):
    print (x)

0
1
2
3
4

In [33]:
for x in range (10, 30):
    print (x)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [39]:
for x in range (10, 30, 2):
    print (x)

10
12
14
16
18
20
22
24
26
28

In [43]:
for x in range (1, 30, 2):
    print (x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

# LOOP CONTROL STATEMENTS
- In order to manage loops, we have so-called loop control statements. They allow us to manipulate the process flow of the loop at a specific point.

# BREAK STATEMENT
- With the break statement, we can end a loop immediately, without caring about the condition.

In [49]:
number = 0
while number < 10 :
    number += 1
    if number == 8 :
        break
    print (number)

1
2
3
4
5
6
7

# CONTINUE STATEMENT
- If we don't want to break the full loop, but to skip only one iteration, we can use the continue statement

In [52]:
number = 0
while number < 10 :
    number += 1
    if number == 4 :
        continue
    print (number)

1
2
3
5
6
7
8
9
10

In [54]:
# Comments: Here number 4 is skipped, but the numbers after 4 is continued up until number 10.

# PASS STATEMENT
- The pass statement is a very special statement, since it does absolutely nothing. Actually, it is not really a loop control statement, but a placeholder a code.
- Sometimes you want to write your basic code structure, without implementing the logic yet. In this case, we can use the pass statement in order to fill the code blocks. Otherwise, we can't run the script.

In [57]:
if number == 10 :
    pass
else :
    pass
while number < 10 :
    pass

# SEQUENCES
- The sequence is the most basic data structure in Python. It contains multiple elements and they are indexed with a specific number such as LIST, TUPLE, DICTIONARY

# LISTS
- The elements of a list can have any data type and we can also mix them.

In [61]:
number = [ 10, 22, 5, 2, 30 ]
names = [ "Int", "Str", "Float", "Boolean" ]
mixed = [ "Data", 82, 6.7, "False"]

# ACCESSING VALUES

In [72]:
number

[10, 22, 5, 2, 30]

In [74]:
number [0]

10

In [76]:
number [2]

5

In [86]:
number [4]

30

In [88]:
len (number)

5

In [90]:
mixed

['Data', 82, 6.7, 'False']

In [98]:
print (mixed [3])

False

In [100]:
print (names [2])

Float

In [102]:
len (names)

4

# SLICING
- But instead of only accessing, one single element, we can also define a range that we want to access. This is called slicing.

In [26]:
numbers = [10, 22, 5, 2, 30]
numbers

[10, 22, 5, 2, 30]

In [28]:
numbers [0:2]

[10, 22]

In [30]:
numbers [1:]

[22, 5, 2, 30]

In [32]:
numbers [:3]

[10, 22, 5]

In [34]:
numbers [::-1]

[30, 2, 5, 22, 10]

In [36]:
numbers [0:-1]

[10, 22, 5, 2]

In [38]:
numbers [:2]

[10, 22]

# MODIFYING ELEMENTS

In [6]:
numbers = [10, 22, 5, 2, 30]
numbers

[10, 22, 5, 2, 30]

In [8]:
numbers [2]

5

In [16]:
numbers [2] = 32
numbers

[10, 22, 32, 2, 30]

In [18]:
names = [ "Int", "Str", "Float", "Boolean" ]
names

['Int', 'Str', 'Float', 'Boolean']

In [20]:
names [3]

'Boolean'

In [22]:
names [3] = "Modify"
names

['Int', 'Str', 'Float', 'Modify']

In [24]:
names [2]

'Float'

In [26]:
names [2] = "fly"

In [28]:
names

['Int', 'Str', 'fly', 'Modify']

In [30]:
names [0] = "Walk"
names

['Walk', 'Str', 'fly', 'Modify']

# LIST OPERATIONS

## LIST ADDITION AND LIST MULTIPLICATION

In [34]:
List_A = [100, 110, 120, 130]

In [36]:
List_B = [200, 210, 220, 230]

In [38]:
List_A + List_B

[100, 110, 120, 130, 200, 210, 220, 230]

In [40]:
List_A * 3

[100, 110, 120, 130, 100, 110, 120, 130, 100, 110, 120, 130]

In [42]:
List_B * 2

[200, 210, 220, 230, 200, 210, 220, 230]

# LIST FUNCTIONS

In [45]:
List_A

[100, 110, 120, 130]

In [47]:
len (List_A)

4

In [49]:
max (List_A)

130

In [51]:
min (List_A)

100

In [57]:
List_A.append(4)
List_A

[100, 110, 120, 130, 5, 5, 4]

In [59]:
List_A.count (5)

2

In [63]:
List_A.pop (5)
List_A

[100, 110, 120, 130, 5]

In [65]:
List_A.index (120)

2

In [77]:
List_A

[100, 110, 120, 130, 5]

In [83]:
List_A.reverse ()
List_A

[5, 130, 120, 110, 100]

In [85]:
List_A.sort ()

In [87]:
List_A

[5, 100, 110, 120, 130]

In [89]:
List_A.sort (reverse=True)
List_A

[130, 120, 110, 100, 5]

#### Modifying items in a list and changing the number of items

In [92]:
mylist = ["Shyam", "Vijay", "Kishore", "Abi"]

In [94]:
mylist.insert (4, "Manoj")

In [96]:
mylist

['Shyam', 'Vijay', 'Kishore', 'Abi', 'Manoj']

In [100]:
mylist.append ("Prashant")
mylist

['Shyam', 'Vijay', 'Kishore', 'Abi', 'Manoj', 'Prashant']

In [102]:
mylist2 = ["cricket", "chess", "carrom"]

In [104]:
mylist.extend(mylist2)

In [106]:
mylist

['Shyam',
 'Vijay',
 'Kishore',
 'Abi',
 'Manoj',
 'Prashant',
 'cricket',
 'chess',
 'carrom']

In [118]:
mylist.remove ("chess")
mylist

['Shyam', 'Vijay', 'Kishore', 'Abi', 'Manoj', 'Prashant', 'cricket']

In [120]:
del mylist [5]
mylist

['Shyam', 'Vijay', 'Kishore', 'Abi', 'Manoj', 'cricket']

In [122]:
del mylist2
mylist2

NameError: name 'mylist2' is not defined

- Error occurs because there is no mylist2 anymore

# TUPLES

- The next sequence type we are going to look at is very similar to List. It's the tuple. The only difference between a list and a tuple is that a tuple is immutable. We cannot manipulate it.

In [135]:
tpl = (50, 60, 50)
type(tpl)

tuple

# TUPLE FUNCTIONS

-Basically, all the reading and assessing functions like len, min and max stay the same and can be used with tuples; however, it is not possible to use any modifying or appending functions.

In [137]:
min (tpl)

50

In [139]:
max (tpl)

60

In [141]:
len (tpl)

3

# DICTIONARIES

- In other programing languages this structure is called has map.

In [145]:
dct = {"Name" : "William", "Age" : 35, "Height" : 6.0 }

In [147]:
dct

{'Name': 'William', 'Age': 35, 'Height': 6.0}

- Since the key now replaces the index, it has to be unique. This is not the case for values. We can have many keys with the same value, but when we address a certain key, it as to be the only one with particular name. Also keys cannot be changed.

# ACCESSING VALUES

- In order to access values of a dictionary, we need to address the keys.

In [152]:
dct ["Name"]

'William'

In [154]:
dct ["Age"]

35

In [156]:
dct ["Height"]

6.0

- Notice that if there were multiple keys with the same name, we could not get a result because we would not know which value we are talking about.

In [5]:
dct = {"Name" : "William", "Age" : 35, "Height" : 6.0 }
dct

{'Name': 'William', 'Age': 35, 'Height': 6.0}

In [7]:
len (dct)

3

In [11]:
str(dct)

"{'Name': 'William', 'Age': 35, 'Height': 6.0}"

In [13]:
dct_1 = dct.copy ()
dct_1

{'Name': 'William', 'Age': 35, 'Height': 6.0}

In [15]:
dct_1.clear ()
dct_1

{}

In [21]:
dct_2 = dct.fromkeys (dct)
dct_2

{'Name': None, 'Age': None, 'Height': None}

In [23]:
dct.get("Name")

'William'

In [25]:
dct.get("Age")

35

In [39]:
dct_new = {"Name": "Bob", "Age": 25, "Height": 5.9 }

In [33]:
dct

{'Name': 'William', 'Age': 35, 'Height': 6.0}

In [41]:
dct.update (dct_new)
dct

{'Name': 'Bob', 'Age': 25, 'Height': 5.9}

In [43]:
dct.values ()

dict_values(['Bob', 25, 5.9])

In [45]:
dct.keys ()

dict_keys(['Name', 'Age', 'Height'])

# MEMBERSHIP OPERATORS

- These are very important when it comes to sequences.
- We use them to check if an element is a member of a sequence, but also to iterate over sequences.

In [49]:
list1 = [10, 20, 30, 40, 50]

In [51]:
print (30 in list1)

True

In [53]:
print (80 in list1)

False

In [55]:
print (80 not in list1)

True